{% extends 'base.html' %}
{% block title %}Mening Kurslarim{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/courses_list.css' %}">
{% block content %}
<div class="container my-4">
    <h2 class="mb-4">
        {% if user.role == 'STUDENT' %}
            Mening ro'yxatdan o'tgan kurslarim
        {% else %}
            Men yaratgan kurslarim ro'yxati
        {% endif %}
    </h2>
    <div class="row">
        {% for course in courses %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm h-100 course-card">
                    <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description|truncatewords:20 }}</p>
                        <p><b>Kategoriya:</b> {{ course.category }}</p>
                        <p><b>Muallif:</b> {{ course.author }}</p>
                        <p><b>ruyxtadan o'tgan talabalar soni:</b> {{ course.students.count }}</p>
                        <a href="{% url 'course_detail' course.id %}" class="btn btn-primary mt-auto">Batafsil</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Kurslar topilmadi.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
