{% extends 'base.html' %}
{% block title %}Mening Profilim{% endblock %}
{% block content %}
<div class="container my-4 text-center">
    <img src="{{ user.profile.image.url }}" alt="Profil rasmi" class="rounded-circle" width="150">
    <h2>{{ user.username }}</h2>
    <p>{{ user.email }}</p>
    <p>{{ user.profile.bio }}</p>

    {% if user.role == 'STUDENT' %}
        <a href="{% url 'my_courses' %}" class="btn btn-primary">Ro'yxatdan o'tgan kurslarim</a>
    {% elif user.role == 'TEACHER' %}
        <a href="{% url 'my_courses' %}" class="btn btn-success">Mening yaratgan kurslarim</a>
    {% endif %}
</div>
{% endblock %}
